<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Login</title>
</head>
<body>
    <h2>사업자 로그인</h2>
    <form action="storeLogin" method="post">
        <div>
            <label for="storeName">상호명:</label>
            <input type="text" id="storeName" name="storeName">
        </div>
        <div>
            <label for="storePassword">비밀번호:</label>
            <input type="password" id="storePassword" name="storePassword">
        </div>
        <button type="submit">로그인</button>
    </form>
</body>
</html>