<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Final Match</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <th:block th:include="~{/fragments/header}"></th:block>
    <!-- End Header -->

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Selected Complete</h4>
                <table id="finalMatchTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Menu Num</th>
                            <th scope="col">Menu Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="mnum1">Menu Num</td>
                            <td><a href="#" onclick="getSnumForMname('mname1');"><span id="mname1">Menu Name</span></a></td>
                            <td id="mprice1">Price</td>
                        </tr>
                        <tr>
                            <td id="mnum2">Menu Num</td>
                            <td id="mname2">Menu Name</td>
                            <td id="mprice2">Price</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <th:block th:include="~{/fragments/footer}"></th:block>

    <script>
        // Function to display final match menu data
        function displayFinalMatchMenu() {
            // Retrieve menu data from query string
            var urlParams = new URLSearchParams(window.location.search);
            var mnum1 = urlParams.get('mnum1');
            var mname1 = urlParams.get('mname1');
            var mprice1 = urlParams.get('mprice1');
            var mnum2 = urlParams.get('mnum2');
            var mname2 = urlParams.get('mname2');
            var mprice2 = urlParams.get('mprice2');

            // Display menu data in table
            document.getElementById('mnum1').innerText = mnum1;
            document.getElementById('mname1').innerText = mname1;
            document.getElementById('mprice1').innerText = mprice1;
            document.getElementById('mnum2').innerText = mnum2;
            document.getElementById('mname2').innerText = mname2;
            document.getElementById('mprice2').innerText = mprice2;
        }

        window.onload = function () {
            displayFinalMatchMenu();
        };
        function getSnumForMname(){
        	console.log(mname1);
        }

    </script>

</body>

</html>
