<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Final Match</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <th:block th:include="~{/fragments/header}"></th:block>
    <!-- End Header -->

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Final Match</h4>
                <table id="finalMatchTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Menu Num</th>
                            <th scope="col">Menu Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mnum1"></td>
                            <td class="mname1" onclick="add1ToFinalMatch(this)">Menu Name</td>
                            <td class="mprice1"></td>
                        </tr>
                        <tr>
                            <td class="mnum2"></td>
                            <td class="mname2" onclick="add2ToFinalMatch(this)">Menu Name</td>
                            <td class="mprice2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <th:block th:include="~{/fragments/footer}"></th:block>

    <script>
        var finalSelectedMenus = []; // Array to store final selected menus
        var reservSnum = []; // Array to store snum values

        // Function to add selected menu to finalSelectedMenus array
        function add1ToFinalMatch(element) {
            var mnum = element.parentElement.querySelector('.mnum1').innerText;
            var mname = element.innerText;
            var mprice = element.parentElement.querySelector('.mprice1').innerText;
            finalSelectedMenus.push({
                mnum: mnum,
                mname: mname,
                mprice: mprice
            });
            reservSnum.push(mnum); // Add snum to reservSnum array
            console.log(finalSelectedMenus);
            redirectToEndGame();
        }
        function add2ToFinalMatch(element) {
            var mnum = element.parentElement.querySelector('.mnum2').innerText;
            var mname = element.innerText;
            var mprice = element.parentElement.querySelector('.mprice2').innerText;
            finalSelectedMenus.push({
                mnum: mnum,
                mname: mname,
                mprice: mprice
            });
            reservSnum.push(mnum); // Add snum to reservSnum array
            console.log(finalSelectedMenus);
            redirectToEndGame();
        }

        // Function to redirect to endGame page with final selected menus and reservSnum
        function redirectToEndGame() {
            var queryString = '?';
            for (var i = 0; i < finalSelectedMenus.length; i++) {
                queryString += 'mnum' + (i + 1) + '=' + finalSelectedMenus[i].mnum + '&';
                queryString += 'mname' + (i + 1) + '=' + finalSelectedMenus[i].mname + '&';
                queryString += 'mprice' + (i + 1) + '=' + finalSelectedMenus[i].mprice + '&';
            }
            for (var j = 0; j < reservSnum.length; j++) {
                queryString += 'reservSnum' + (j + 1) + '=' + reservSnum[j] + '&';
            }
            queryString = queryString.slice(0, -1); // Remove the last '&' character
            window.location.href = '/endGame' + queryString;
        }

        window.onload = function () {
            // Retrieve menu data from query string
            var urlParams = new URLSearchParams(window.location.search);
            var mnum1 = urlParams.get('mnum1');
            var mname1 = urlParams.get('mname1');
            var mprice1 = urlParams.get('mprice1');
            var mnum2 = urlParams.get('mnum2');
            var mname2 = urlParams.get('mname2');
            var mprice2 = urlParams.get('mprice2');

            // Display menu data in table
            document.querySelector('.mnum1').innerText = mnum1;
            document.querySelector('.mname1').innerText = mname1;
            document.querySelector('.mprice1').innerText = mprice1;
            document.querySelector('.mnum2').innerText = mnum2;
            document.querySelector('.mname2').innerText = mname2;
            document.querySelector('.mprice2').innerText = mprice2;
        };
    </script>

</body>

</html>
