<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>mcpc</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- ======= Header ======= -->
    <th:block th:include="~{/fragments/header}"></th:block>
    <!-- End Header -->

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Menu List</h4>
                <table id="menuTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Menu Num</th>
                            <th scope="col">Menu Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="menu : ${menuList}" onclick="saveMnum(this)">
                            <td th:text="${menu.mnum}" id="mnum">Menu Num</td>
                            <td th:text="${menu.mname}" id="mname">Menu Name</td>
                            <td th:text="${menu.mprice}" id="mprice">Price</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <th:block th:include="~{/fragments/footer}"></th:block>

    <!-- JavaScript를 사용하여 선택된 메뉴 번호를 secondMatch.html 페이지로 전달합니다 -->
    <script th:inline="javascript">
        var selectedMnums = []; // 선택된 메뉴 번호를 저장할 배열

        function saveMnum(row) {
            var mnum = row.querySelector('#mnum').innerText;
            var mname = row.querySelector('#mname').innerText;
            var mprice = row.querySelector('#mprice').innerText;
            
            selectedMnums.push({
                mnum: mnum,
                mname: mname,
                mprice: mprice
            });
            console.log(selectedMnums);
            localStorage.setItem('selectedMnums', JSON.stringify(selectedMnums)); // 선택된 메뉴 번호를 localStorage에 저장
            if (selectedMnums.length === 4) {
                // 선택된 메뉴 번호가 4개일 때 페이지를 SecondMatch.html로 리다이렉트
                redirectToSecondMatch();
            }
        }

        function redirectToSecondMatch() {
            // URL 대신 localStorage에 저장된 데이터를 함께 전달하여 페이지 이동
            window.location.href = '/secondMatch';
        }

    </script>

</body>

</html>
